{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}New Post{% endblock title %}

{% block content %}
    <div class="container text-center" style="margin-top:25px;max-width:500px;">
        <h1 class="text-primary"><i class="fa-solid fa-circle-plus"></i> New Post</h1>

        <form method="POST" class="text-primary">
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Create</button>
        </form>
    </div>
{% endblock content %}